article.post{
	border-bottom: #ccc solid 1px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

article.post:last-child{
	border-bottom:none;
}

article.post img{
	width:100%;
	height:auto;
	margin-top:30px;
}

article.post .meta{
	background: #f4f4f4;
	padding: 8px 12px;
	color:#333;
}

.pagesize {

	width: 95%;
}


.comment-list{
	list-style: none;
	margin:0 !important;
	padding:0 !important;
}

.comment-item{
	overflow:auto;
}

.marginTop { /* Search DropDown */
	margin-top: 44px;
	
	min-width: 25%;
	
}

.searchSVG {

	background: url('../SVG/search-solid.svg');
	background-repeat: no-repeat;
	height: 25px;
} 



.NavbgColor {

	background: rgba(219, 250, 255, 0.801);
}

.NavTextColor {

	color: rgb(77, 15, 62) !important;
	text-shadow:
	-1px -1px 0  rgb(250, 250, 250),  
	 1px -1px 0  rgb(255, 255, 255),
	 -1px 1px 0  rgb(255, 255, 255),
	  1px 1px 0  rgb(255, 255, 255);
	  font-weight: bold;
}


/*  Slider Nav Indicators  */
.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    /*background-color: #404040;*/
}