<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Single
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding2 overflow-hidden overlay-hidden">
<div class="parent2">


<iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe" (load)="onLoad()" id="SingleFrame"
webkitallowfullscreen mozallowfullscreen allowfullscreen> </iframe>
<div class="col-3 mx-auto mt-5">
<mat-spinner *ngIf="isloading" class="mt-5"></mat-spinner>
</div>
























    <!-- <img *ngIf="item._embedded['wp:featuredmedia']" [src]="item._embedded['wp:featuredmedia'][0].source_url"/>
    <ion-card-header>
      <ion-card-subtitle>{{ item.date | date:dateFormat }}</ion-card-subtitle>
    </ion-card-header>

<ion-card-content>
    <h1 [innerHTML]="item.title.rendered"></h1>
  
    <div [innerHTML]="item.content.rendered"></div>
    <br><br>
    <div [innerHTML]="myTemplate"></div>

</ion-card-content> -->



</div>
</ion-content>